.root {
  margin-top: 5vh;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.leftComponent {
  flex: 1;
  align-items: left;
}

.rightComponent {
  flex: 1;
  align-items: flex-end;
  text-align: right;
  width: 100%;
}

.envImage {
  width: 450px;
  height: 450px;
}

.goBackHomeButton {
  font-size: 12px;
}

@media (max-width: 950px) {
  .envImage {
    width: 300px;
    height: 300px;
  }

  .goBackHomeButton {
    font-size: 9px;
    width: 30vw;
  }
}

@media (max-width: 500px) {
  .envImage {
    width: 180px;
    height: 180px;
  }

  .goBackHomeButton {
    font-size: 8px;
    width: 35vw;
  }
}
