.root {
  padding: 2rem;
  min-height: calc(100vh - 80px);
  background-color: var(--gray-1);
}

.userSearchContainer {
  display: flex;
  gap: 0.75rem;
}

@media (max-width: 575px) {
  .userSearchContainer {
    flex-direction: column;
  }
}
